# Summary

### For Total Data

#### Train Data
* model score - 0.7247523194800336
* mape - 3.711066370425926 

####  Val Data
* model score - 0.7428676707867854
* mape - 2.452798903107458

### North
* model score - 0.8577848411236031
* mape - 2.680951628675678

### South
* model score - 0.9010728788086535
* mape - 1.7059534050931446

### East
* model score - 0.9594196208793372
* mape - 0.9691651276382379

### West
* model score - 0.9245627408132806
* mape - 3.114820016872968

In [ ]:
import pandas as pd

In [ ]:
pd.set_option('display.max_rows', None)
pd.set_option('display.max_columns', None)

In [ ]:
raw_df = pd.read_csv('Train_Data.csv')

In [ ]:
raw_df.head()

,Warehouse id,Region,SKU id,Apr-18,May-18,Jun-18,Jul-18,Aug-18,Sep-18,Oct-18,Nov-18,Dec-18,Jan-19,Feb-19,Mar-19,Apr-19,May-19,Jun-19,Jul-19,Aug-19,Sep-19,Oct-19,Nov-19,Dec-19,Jan-20,Feb-20,Mar-20,Apr-20,May-20,Jun-20,Jul-20,Aug-20,Sep-20,Oct-20,Nov-20,Dec-20,Jan-21,Feb-21,Mar-21,Apr-21,May-21
0,Wh-1,NORTH,SKU-1,27,13,30,14,22,8,8,8,8,8,8,13,53,19,8,12,14,12,18,8,8,8,8,14,8,9,8,8,12,8,8,8,8,8,14,16,8,12
1,Wh-1,NORTH,SKU-2,88,28,127,130,58,10,7,7,7,13,7,55,64,76,79,94,25,178,25,10,7,7,7,37,7,61,55,73,16,7,7,7,7,7,13,43,13,43
2,Wh-1,NORTH,SKU-3,6,6,6,6,6,6,6,6,6,6,6,6,26,8,6,6,6,6,6,6,6,6,6,6,6,6,12,6,8,6,6,6,6,6,6,8,26,6
3,Wh-1,NORTH,SKU-4,162,184,110,172,90,40,18,26,18,66,18,100,140,84,104,94,132,172,48,40,98,72,24,18,18,64,312,134,82,78,38,18,22,28,36,352,58,18
4,Wh-1,NORTH,SKU-5,171,402,627,615,300,417,141,42,72,33,42,186,465,321,438,801,174,375,123,135,171,36,6,51,6,114,1764,471,468,216,75,6,30,66,141,699,183,24

In [ ]:
raw_df.shape

(1039, 41)

In [ ]:
raw_df.describe()

,Apr-18,May-18,Jun-18,Jul-18,Aug-18,Sep-18,Oct-18,Nov-18,Dec-18,Jan-19,Feb-19,Mar-19,Apr-19,May-19,Jun-19,Jul-19,Aug-19,Sep-19,Oct-19,Nov-19,Dec-19,Jan-20,Feb-20,Mar-20,Apr-20,May-20,Jun-20,Jul-20,Aug-20,Sep-20,Oct-20,Nov-20,Dec-20,Jan-21,Feb-21,Mar-21,Apr-21,May-21
count,1039.000000,1039.000000,1039.000000,1039.000000,1039.000000,1039.000000,1039.000000,1039.000000,1039.000000,1039.000000,1039.000000,1039.000000,1039.000000,1039.000000,1039.000000,1039.000000,1039.000000,1039.000000,1039.000000,1039.000000,1039.000000,1039.000000,1039.000000,1039.000000,1039.000000,1039.000000,1039.000000,1039.000000,1039.000000,1039.000000,1039.000000,1039.000000,1039.000000,1039.000000,1039.000000,1039.000000,1039.000000,1039.000000
mean,248.102984,216.824832,209.153994,157.714148,174.883542,158.524543,161.719923,201.784408,212.032724,177.205967,145.195380,384.553417,283.985563,262.494706,252.813282,172.986526,188.179018,177.238691,161.719923,228.489894,269.876805,243.950914,266.679500,196.151107,14.465833,179.401347,202.044273,171.538980,213.336862,207.782483,238.777671,258.241578,388.457170,274.597690,275.120308,387.707411,150.856593,122.123195
std,785.750982,493.283000,480.078224,351.488015,450.706178,374.631088,376.697992,614.940984,766.657455,790.932939,347.235667,1872.627149,818.108342,765.885943,684.414297,492.486567,655.426076,408.656371,383.271645,922.828768,1285.334758,1095.890483,1038.035987,700.478683,124.398284,815.416454,587.117446,554.008758,498.147866,495.033144,552.393333,950.188944,1374.171617,805.756394,699.096181,1106.507945,420.741507,329.277995
min,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000
25%,9.000000,9.500000,10.000000,10.000000,9.000000,10.000000,9.000000,10.000000,10.000000,10.000000,10.000000,12.000000,12.000000,12.000000,12.000000,12.000000,11.000000,11.000000,11.000000,11.000000,12.000000,13.000000,14.000000,12.000000,5.000000,11.000000,15.000000,15.500000,17.000000,16.000000,19.000000,18.500000,30.500000,22.500000,32.000000,43.000000,18.000000,14.000000
50%,18.000000,19.000000,19.000000,18.000000,19.000000,19.000000,19.000000,19.000000,19.000000,20.000000,19.000000,43.000000,38.000000,39.000000,38.000000,29.000000,30.000000,28.000000,22.000000,31.000000,38.000000,40.000000,50.000000,35.000000,10.000000,24.000000,45.000000,46.000000,63.000000,60.000000,73.000000,67.000000,106.000000,77.000000,105.000000,129.000000,46.000000,33.000000
75%,191.000000,186.500000,192.500000,137.000000,128.000000,140.000000,127.500000,143.500000,170.000000,130.500000,120.000000,296.000000,255.000000,225.000000,220.000000,147.000000,143.000000,155.000000,138.000000,157.500000,170.500000,159.500000,182.500000,140.000000,15.000000,99.000000,162.000000,135.000000,186.000000,181.500000,215.000000,198.000000,297.500000,218.500000,254.000000,339.500000,133.000000,92.000000
max,17540.000000,5029.000000,5823.000000,3151.000000,6700.000000,4604.000000,3576.000000,10322.000000,18336.000000,19324.000000,5392.000000,49476.000000,15564.000000,14059.000000,9073.000000,6439.000000,12104.000000,3820.000000,4116.000000,21140.000000,32864.000000,21210.000000,21526.000000,12820.000000,4010.000000,19303.000000,10429.000000,9540.000000,6283.000000,6097.000000,7469.000000,18148.000000,30996.000000,12020.000000,11641.000000,16483.000000,9199.000000,4669.000000

In [ ]:
raw_df.describe()

,Apr-18,May-18,Jun-18,Jul-18,Aug-18,Sep-18,Oct-18,Nov-18,Dec-18,Jan-19,Feb-19,Mar-19,Apr-19,May-19,Jun-19,Jul-19,Aug-19,Sep-19,Oct-19,Nov-19,Dec-19,Jan-20,Feb-20,Mar-20,Apr-20,May-20,Jun-20,Jul-20,Aug-20,Sep-20,Oct-20,Nov-20,Dec-20,Jan-21,Feb-21,Mar-21,Apr-21,May-21
count,1039.000000,1039.000000,1039.000000,1039.000000,1039.000000,1039.000000,1039.000000,1039.000000,1039.000000,1039.000000,1039.000000,1039.000000,1039.000000,1039.000000,1039.000000,1039.000000,1039.000000,1039.000000,1039.000000,1039.000000,1039.000000,1039.000000,1039.000000,1039.000000,1039.000000,1039.000000,1039.000000,1039.000000,1039.000000,1039.000000,1039.000000,1039.000000,1039.000000,1039.000000,1039.000000,1039.000000,1039.000000,1039.000000
mean,248.102984,216.824832,209.153994,157.714148,174.883542,158.524543,161.719923,201.784408,212.032724,177.205967,145.195380,384.553417,283.985563,262.494706,252.813282,172.986526,188.179018,177.238691,161.719923,228.489894,269.876805,243.950914,266.679500,196.151107,14.465833,179.401347,202.044273,171.538980,213.336862,207.782483,238.777671,258.241578,388.457170,274.597690,275.120308,387.707411,150.856593,122.123195
std,785.750982,493.283000,480.078224,351.488015,450.706178,374.631088,376.697992,614.940984,766.657455,790.932939,347.235667,1872.627149,818.108342,765.885943,684.414297,492.486567,655.426076,408.656371,383.271645,922.828768,1285.334758,1095.890483,1038.035987,700.478683,124.398284,815.416454,587.117446,554.008758,498.147866,495.033144,552.393333,950.188944,1374.171617,805.756394,699.096181,1106.507945,420.741507,329.277995
min,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000
25%,9.000000,9.500000,10.000000,10.000000,9.000000,10.000000,9.000000,10.000000,10.000000,10.000000,10.000000,12.000000,12.000000,12.000000,12.000000,12.000000,11.000000,11.000000,11.000000,11.000000,12.000000,13.000000,14.000000,12.000000,5.000000,11.000000,15.000000,15.500000,17.000000,16.000000,19.000000,18.500000,30.500000,22.500000,32.000000,43.000000,18.000000,14.000000
50%,18.000000,19.000000,19.000000,18.000000,19.000000,19.000000,19.000000,19.000000,19.000000,20.000000,19.000000,43.000000,38.000000,39.000000,38.000000,29.000000,30.000000,28.000000,22.000000,31.000000,38.000000,40.000000,50.000000,35.000000,10.000000,24.000000,45.000000,46.000000,63.000000,60.000000,73.000000,67.000000,106.000000,77.000000,105.000000,129.000000,46.000000,33.000000
75%,191.000000,186.500000,192.500000,137.000000,128.000000,140.000000,127.500000,143.500000,170.000000,130.500000,120.000000,296.000000,255.000000,225.000000,220.000000,147.000000,143.000000,155.000000,138.000000,157.500000,170.500000,159.500000,182.500000,140.000000,15.000000,99.000000,162.000000,135.000000,186.000000,181.500000,215.000000,198.000000,297.500000,218.500000,254.000000,339.500000,133.000000,92.000000
max,17540.000000,5029.000000,5823.000000,3151.000000,6700.000000,4604.000000,3576.000000,10322.000000,18336.000000,19324.000000,5392.000000,49476.000000,15564.000000,14059.000000,9073.000000,6439.000000,12104.000000,3820.000000,4116.000000,21140.000000,32864.000000,21210.000000,21526.000000,12820.000000,4010.000000,19303.000000,10429.000000,9540.000000,6283.000000,6097.000000,7469.000000,18148.000000,30996.000000,12020.000000,11641.000000,16483.000000,9199.000000,4669.000000

In [ ]:
raw_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1039 entries, 0 to 1038
Data columns (total 41 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Warehouse id  1039 non-null   object
 1   Region        1039 non-null   object
 2   SKU id        1039 non-null   object
 3   Apr-18        1039 non-null   int64
 4   May-18        1039 non-null   int64
 5   Jun-18        1039 non-null   int64
 6   Jul-18        1039 non-null   int64
 7   Aug-18        1039 non-null   int64
 8   Sep-18        1039 non-null   int64
 9   Oct-18        1039 non-null   int64
 10  Nov-18        1039 non-null   int64
 11  Dec-18        1039 non-null   int64
 12  Jan-19        1039 non-null   int64
 13  Feb-19        1039 non-null   int64
 14  Mar-19        1039 non-null   int64
 15  Apr-19        1039 non-null   int64
 16  May-19        1039 non-null   int64
 17  Jun-19        1039 non-null   int64
 18  Jul-19        1039 non-null   int64
 19  Aug-19        1039 non-null   int64
 20  Sep-19        1039 non-null   int64
 21  Oct-19        1039 non-null   int64
 22  Nov-19        1039 non-null   int64
 23  Dec-19        1039 non-null   int64
 24  Jan-20        1039 non-null   int64
 25  Feb-20        1039 non-null   int64
 26  Mar-20        1039 non-null   int64
 27  Apr-20        1039 non-null   int64
 28  May-20        1039 non-null   int64
 29  Jun-20        1039 non-null   int64
 30  Jul-20        1039 non-null   int64
 31  Aug-20        1039 non-null   int64
 32  Sep-20        1039 non-null   int64
 33  Oct-20        1039 non-null   int64
 34  Nov-20        1039 non-null   int64
 35  Dec-20        1039 non-null   int64
 36  Jan-21        1039 non-null   int64
 37  Feb-21        1039 non-null   int64
 38  Mar-21        1039 non-null   int64
 39  Apr-21        1039 non-null   int64
 40  May-21        1039 non-null   int64
dtypes: int64(38), object(3)
memory usage: 332.9+ KB

In [ ]:
raw_df_north = raw_df[raw_df.Region == 'NORTH' ]

In [ ]:
raw_df_south = raw_df[raw_df.Region == 'SOUTH']

In [ ]:
raw_df_east = raw_df[raw_df.Region == 'EAST']

In [ ]:
raw_df_west = raw_df[raw_df.Region == 'WEST']

In [ ]:
import numpy as np
from numpy import arange
from sklearn.linear_model import Ridge
from sklearn.linear_model import RidgeCV
from sklearn.model_selection import RepeatedKFold

In [ ]:
raw_df.drop(['Warehouse id', 'Region', 'SKU id'], axis = 'columns', inplace=True)

In [ ]:
raw_df.columns

Index(['Apr-18', 'May-18', 'Jun-18', 'Jul-18', 'Aug-18', 'Sep-18', 'Oct-18',
       'Nov-18', 'Dec-18', 'Jan-19', 'Feb-19', 'Mar-19', 'Apr-19', 'May-19',
       'Jun-19', 'Jul-19', 'Aug-19', 'Sep-19', 'Oct-19', 'Nov-19', 'Dec-19',
       'Jan-20', 'Feb-20', 'Mar-20', 'Apr-20', 'May-20', 'Jun-20', 'Jul-20',
       'Aug-20', 'Sep-20', 'Oct-20', 'Nov-20', 'Dec-20', 'Jan-21', 'Feb-21',
       'Mar-21', 'Apr-21', 'May-21'],
      dtype='object')

In [ ]:
X = raw_df[['Apr-18', 'May-18', 'Jun-18', 'Jul-18', 'Aug-18', 'Sep-18', 'Oct-18',
       'Nov-18', 'Dec-18', 'Jan-19', 'Feb-19', 'Mar-19', 'Apr-19', 'May-19',
       'Jun-19', 'Jul-19', 'Aug-19', 'Sep-19', 'Oct-19', 'Nov-19', 'Dec-19',
       'Jan-20', 'Feb-20', 'Mar-20', 'Apr-20', 'May-20', 'Jun-20', 'Jul-20',
       'Aug-20', 'Sep-20', 'Oct-20', 'Nov-20', 'Dec-20', 'Jan-21', 'Feb-21',
       'Mar-21', 'Apr-21']]
y = raw_df['May-21']

In [ ]:
from sklearn.model_selection import train_test_split
X_train, X_val, y_train, y_val = train_test_split(X, y, test_size=0.2)

In [ ]:
cv = RepeatedKFold(n_splits=10, n_repeats=3, random_state=1)

In [ ]:
model = RidgeCV(alphas=arange(0, 1, 0.01), cv = cv, scoring = 'neg_mean_absolute_error')

In [ ]:
model.fit(X_train, y_train)

RidgeCV(alphas=array([0.  , 0.01, 0.02, 0.03, 0.04, 0.05, 0.06, 0.07, 0.08, 0.09, 0.1 ,
       0.11, 0.12, 0.13, 0.14, 0.15, 0.16, 0.17, 0.18, 0.19, 0.2 , 0.21,
       0.22, 0.23, 0.24, 0.25, 0.26, 0.27, 0.28, 0.29, 0.3 , 0.31, 0.32,
       0.33, 0.34, 0.35, 0.36, 0.37, 0.38, 0.39, 0.4 , 0.41, 0.42, 0.43,
       0.44, 0.45, 0.46, 0.47, 0.48, 0.49, 0.5 , 0.51, 0.52, 0.53, 0.54,
       0.55, 0.56, 0.57, 0.58, 0.59, 0.6 , 0.61, 0.62, 0.63, 0.64, 0.65,
       0.66, 0.67, 0.68, 0.69, 0.7 , 0.71, 0.72, 0.73, 0.74, 0.75, 0.76,
       0.77, 0.78, 0.79, 0.8 , 0.81, 0.82, 0.83, 0.84, 0.85, 0.86, 0.87,
       0.88, 0.89, 0.9 , 0.91, 0.92, 0.93, 0.94, 0.95, 0.96, 0.97, 0.98,
       0.99]),
        cv=RepeatedKFold(n_repeats=3, n_splits=10, random_state=1),
        scoring='neg_mean_absolute_error')

In [ ]:
print(model.alpha_)

0.99

In [ ]:
preds = model.predict(X_train)

In [ ]:
from sklearn.metrics import mean_absolute_percentage_error

In [ ]:
#def mape(actual, predicted):
    #return (abs(actual-predicted)/actual)

In [ ]:
mape_train = mean_absolute_percentage_error(y_train, preds)

In [ ]:
mape_train

3.711066370425926

In [ ]:
val_preds = model.predict(X_val)

In [ ]:
mape_val =  mean_absolute_percentage_error(y_val, val_preds)

In [ ]:
mape_val

2.452798903107458

In [ ]:
model.score(X_val, y_val)

0.7428676707867854

In [ ]:
model.score(X_train, y_train)

0.7247523194800336

## For North

In [ ]:
raw_df_north.shape

(233, 41)

In [ ]:
X_north = raw_df_north[['Apr-18', 'May-18', 'Jun-18', 'Jul-18', 'Aug-18', 'Sep-18', 'Oct-18',
       'Nov-18', 'Dec-18', 'Jan-19', 'Feb-19', 'Mar-19', 'Apr-19', 'May-19',
       'Jun-19', 'Jul-19', 'Aug-19', 'Sep-19', 'Oct-19', 'Nov-19', 'Dec-19',
       'Jan-20', 'Feb-20', 'Mar-20', 'Apr-20', 'May-20', 'Jun-20', 'Jul-20',
       'Aug-20', 'Sep-20', 'Oct-20', 'Nov-20', 'Dec-20', 'Jan-21', 'Feb-21',
       'Mar-21', 'Apr-21']]
y_north = raw_df_north['May-21']

In [ ]:
model.fit(X_north, y_north)

RidgeCV(alphas=array([0.  , 0.01, 0.02, 0.03, 0.04, 0.05, 0.06, 0.07, 0.08, 0.09, 0.1 ,
       0.11, 0.12, 0.13, 0.14, 0.15, 0.16, 0.17, 0.18, 0.19, 0.2 , 0.21,
       0.22, 0.23, 0.24, 0.25, 0.26, 0.27, 0.28, 0.29, 0.3 , 0.31, 0.32,
       0.33, 0.34, 0.35, 0.36, 0.37, 0.38, 0.39, 0.4 , 0.41, 0.42, 0.43,
       0.44, 0.45, 0.46, 0.47, 0.48, 0.49, 0.5 , 0.51, 0.52, 0.53, 0.54,
       0.55, 0.56, 0.57, 0.58, 0.59, 0.6 , 0.61, 0.62, 0.63, 0.64, 0.65,
       0.66, 0.67, 0.68, 0.69, 0.7 , 0.71, 0.72, 0.73, 0.74, 0.75, 0.76,
       0.77, 0.78, 0.79, 0.8 , 0.81, 0.82, 0.83, 0.84, 0.85, 0.86, 0.87,
       0.88, 0.89, 0.9 , 0.91, 0.92, 0.93, 0.94, 0.95, 0.96, 0.97, 0.98,
       0.99]),
        cv=RepeatedKFold(n_repeats=3, n_splits=10, random_state=1),
        scoring='neg_mean_absolute_error')

In [ ]:
north_preds = model.predict(X_north)

In [ ]:
mape_north = mean_absolute_percentage_error(y_north, north_preds)

In [ ]:
mape_north

2.680951628675678

In [ ]:
model.score(X_north, y_north)

0.8577848411236031

## For South

In [ ]:
raw_df_south.shape

(286, 41)

In [ ]:
X_south = raw_df_south[['Apr-18', 'May-18', 'Jun-18', 'Jul-18', 'Aug-18', 'Sep-18', 'Oct-18',
       'Nov-18', 'Dec-18', 'Jan-19', 'Feb-19', 'Mar-19', 'Apr-19', 'May-19',
       'Jun-19', 'Jul-19', 'Aug-19', 'Sep-19', 'Oct-19', 'Nov-19', 'Dec-19',
       'Jan-20', 'Feb-20', 'Mar-20', 'Apr-20', 'May-20', 'Jun-20', 'Jul-20',
       'Aug-20', 'Sep-20', 'Oct-20', 'Nov-20', 'Dec-20', 'Jan-21', 'Feb-21',
       'Mar-21', 'Apr-21']]
y_south = raw_df_south['May-21']

In [ ]:
model.fit(X_south, y_south)

RidgeCV(alphas=array([0.  , 0.01, 0.02, 0.03, 0.04, 0.05, 0.06, 0.07, 0.08, 0.09, 0.1 ,
       0.11, 0.12, 0.13, 0.14, 0.15, 0.16, 0.17, 0.18, 0.19, 0.2 , 0.21,
       0.22, 0.23, 0.24, 0.25, 0.26, 0.27, 0.28, 0.29, 0.3 , 0.31, 0.32,
       0.33, 0.34, 0.35, 0.36, 0.37, 0.38, 0.39, 0.4 , 0.41, 0.42, 0.43,
       0.44, 0.45, 0.46, 0.47, 0.48, 0.49, 0.5 , 0.51, 0.52, 0.53, 0.54,
       0.55, 0.56, 0.57, 0.58, 0.59, 0.6 , 0.61, 0.62, 0.63, 0.64, 0.65,
       0.66, 0.67, 0.68, 0.69, 0.7 , 0.71, 0.72, 0.73, 0.74, 0.75, 0.76,
       0.77, 0.78, 0.79, 0.8 , 0.81, 0.82, 0.83, 0.84, 0.85, 0.86, 0.87,
       0.88, 0.89, 0.9 , 0.91, 0.92, 0.93, 0.94, 0.95, 0.96, 0.97, 0.98,
       0.99]),
        cv=RepeatedKFold(n_repeats=3, n_splits=10, random_state=1),
        scoring='neg_mean_absolute_error')

In [ ]:
south_preds = model.predict(X_south)

In [ ]:
mape_south = mean_absolute_percentage_error(south_preds, y_south)
mape_south

1.7059534050931446

In [ ]:
model.score(X_south, y_south)

0.9010728788086535

## For East

In [ ]:
raw_df_east.shape

(212, 41)

In [ ]:
X_east = raw_df_east[['Apr-18', 'May-18', 'Jun-18', 'Jul-18', 'Aug-18', 'Sep-18', 'Oct-18',
       'Nov-18', 'Dec-18', 'Jan-19', 'Feb-19', 'Mar-19', 'Apr-19', 'May-19',
       'Jun-19', 'Jul-19', 'Aug-19', 'Sep-19', 'Oct-19', 'Nov-19', 'Dec-19',
       'Jan-20', 'Feb-20', 'Mar-20', 'Apr-20', 'May-20', 'Jun-20', 'Jul-20',
       'Aug-20', 'Sep-20', 'Oct-20', 'Nov-20', 'Dec-20', 'Jan-21', 'Feb-21',
       'Mar-21', 'Apr-21']]
y_east = raw_df_east['May-21']

In [ ]:
model.fit(X_east, y_east)

RidgeCV(alphas=array([0.  , 0.01, 0.02, 0.03, 0.04, 0.05, 0.06, 0.07, 0.08, 0.09, 0.1 ,
       0.11, 0.12, 0.13, 0.14, 0.15, 0.16, 0.17, 0.18, 0.19, 0.2 , 0.21,
       0.22, 0.23, 0.24, 0.25, 0.26, 0.27, 0.28, 0.29, 0.3 , 0.31, 0.32,
       0.33, 0.34, 0.35, 0.36, 0.37, 0.38, 0.39, 0.4 , 0.41, 0.42, 0.43,
       0.44, 0.45, 0.46, 0.47, 0.48, 0.49, 0.5 , 0.51, 0.52, 0.53, 0.54,
       0.55, 0.56, 0.57, 0.58, 0.59, 0.6 , 0.61, 0.62, 0.63, 0.64, 0.65,
       0.66, 0.67, 0.68, 0.69, 0.7 , 0.71, 0.72, 0.73, 0.74, 0.75, 0.76,
       0.77, 0.78, 0.79, 0.8 , 0.81, 0.82, 0.83, 0.84, 0.85, 0.86, 0.87,
       0.88, 0.89, 0.9 , 0.91, 0.92, 0.93, 0.94, 0.95, 0.96, 0.97, 0.98,
       0.99]),
        cv=RepeatedKFold(n_repeats=3, n_splits=10, random_state=1),
        scoring='neg_mean_absolute_error')

In [ ]:
east_preds = model.predict(X_east)

In [ ]:
mape_east = mean_absolute_percentage_error(east_preds, y_east)
mape_east

0.9691651276382379

In [ ]:
model.score(X_east, y_east)

0.9594196208793372

## For West

In [ ]:
raw_df_west.shape

(308, 41)

In [ ]:
X_west = raw_df_west[['Apr-18', 'May-18', 'Jun-18', 'Jul-18', 'Aug-18', 'Sep-18', 'Oct-18',
       'Nov-18', 'Dec-18', 'Jan-19', 'Feb-19', 'Mar-19', 'Apr-19', 'May-19',
       'Jun-19', 'Jul-19', 'Aug-19', 'Sep-19', 'Oct-19', 'Nov-19', 'Dec-19',
       'Jan-20', 'Feb-20', 'Mar-20', 'Apr-20', 'May-20', 'Jun-20', 'Jul-20',
       'Aug-20', 'Sep-20', 'Oct-20', 'Nov-20', 'Dec-20', 'Jan-21', 'Feb-21',
       'Mar-21', 'Apr-21']]
y_west = raw_df_west['May-21']

In [ ]:
model.fit(X_west, y_west)

RidgeCV(alphas=array([0.  , 0.01, 0.02, 0.03, 0.04, 0.05, 0.06, 0.07, 0.08, 0.09, 0.1 ,
       0.11, 0.12, 0.13, 0.14, 0.15, 0.16, 0.17, 0.18, 0.19, 0.2 , 0.21,
       0.22, 0.23, 0.24, 0.25, 0.26, 0.27, 0.28, 0.29, 0.3 , 0.31, 0.32,
       0.33, 0.34, 0.35, 0.36, 0.37, 0.38, 0.39, 0.4 , 0.41, 0.42, 0.43,
       0.44, 0.45, 0.46, 0.47, 0.48, 0.49, 0.5 , 0.51, 0.52, 0.53, 0.54,
       0.55, 0.56, 0.57, 0.58, 0.59, 0.6 , 0.61, 0.62, 0.63, 0.64, 0.65,
       0.66, 0.67, 0.68, 0.69, 0.7 , 0.71, 0.72, 0.73, 0.74, 0.75, 0.76,
       0.77, 0.78, 0.79, 0.8 , 0.81, 0.82, 0.83, 0.84, 0.85, 0.86, 0.87,
       0.88, 0.89, 0.9 , 0.91, 0.92, 0.93, 0.94, 0.95, 0.96, 0.97, 0.98,
       0.99]),
        cv=RepeatedKFold(n_repeats=3, n_splits=10, random_state=1),
        scoring='neg_mean_absolute_error')

In [ ]:
west_preds = model.predict(X_west)

In [ ]:
mape_west = mean_absolute_percentage_error(west_preds, y_west)
mape_west

3.114820016872968

In [ ]:
model.score(X_west, y_west)

0.9245627408132806